.container {
  width: 60%;
  margin: 30px auto;
}

.chat-area {
    height: 80vh;
    background: #8DB4E5;
    overflow: scroll
  }

  .message-area {
    height: 10vh;
    display: flex;
   }
   
   .message-area-text {
    width: 80%;
   }
   
   .message-area-button {
    width: 20%;
   }


   .message-area-text textarea {
    width: 100%;
    height: 100%;
    resize: none; 
    border: 1px solid #ddd; 
    box-sizing: border-box;
   }

   .message-area-button button {
    width: 100%;
    height: 100%;
    background: #61E739;
    color: #fff;
    font-size: 2.0rem;
    font-weight: bold;
    border: 0;
   }
